<div class="catalog-list">
  <div class="catalog-item">
    <div class="catalog-image">{{ fields.field_image.content }}</div>
    <h3>{{ fields.title.content }}</h3>
    <div class="catalog-text">{{ fields.field_short.content }}</div>
    <div class="catalog-link">{{ fields.view_node.content }}</div>
  </div>
</div>
