<div class="swiper main-slider">
  <div class="swiper-wrapper">
    {% for row in rows %}
      <div class="swiper-slide">
        {{ row.content }}
      </div>
    {% endfor %}
  </div>

  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
